.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.Counter {
  display: flex; /* Add display flex */
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center; /* Center child elements horizontally */
  align-items: center; /* Center child elements vertically */
  background-color: #ffffff;
  width: 500px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Counter button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.Counter button:hover {
  background-color: #45a049;
}

.Counter span {
  margin: 0 10px;
}

.Counter p {
  margin-top: 20px;
}

.Counter p span {
  color: #007bff;
}
